<div id="contactUs">
<h1> My Favorites </h1>
<% @favorites.each do |favorite| %>

  <h3><%= favorite.apartment.address %> <button id='deletebutton'><%= link_to 'Delete', favorite, method: :delete, data: { confirm: 'Are you sure?' } %></button></h3>

  <h3><%= favorite.apartment.latitude %></h3>
  <h3><%= favorite.apartment.longitude %></h3>



<% end %>
</br>
</br>

<button onclick='myFunction()'>Try it</button>
<script>
function myFunction() {
  // for (let i = 0; i < gon.cray.length; i++){
  //   alert(`${gon.cray[i]}, lng: -71.5`);
  // }
  alert('hello there!!!')
  // alert(gon.cray.forEach((latvalue) =>{
  // latvalue);
  // })
}
// console.log(gon.coords[0][2])
</script>
<h1>My Google Map</h1>

  <style>
    #map{
      height:400px;
      width:100%;
    }
  </style>
  <div id="map"></div>
  <script>
    function initMap(){
      //Map options
      var options = {
        zoom:13,
        center:{lat:42.3601,lng:-71.0589}
      }
      // console.log(gon.address)
      //New map
      var map = new
      google.maps.Map(document.getElementById('map'), options);

      // gon.coords.forEach((coord)=>{
      //   addMarker({lat:coord[0],lng:coord[1]}, 'beautiful day today');
      // })
      gon.markerArray.forEach((favorite)=>{
        addMarker({lat:favorite[0][0],lng:favorite[0][1]}, favorite[1]);
      })

      // gon.address.forEach((address)=>{
      //   addinfoWindow({address});
      // })
    // Add Marker function
        function addMarker(coords, address){
          var marker = new google.maps.Marker({
            position:coords,
            map:map
          });
          var infoWindow = new google.maps.InfoWindow({
            content:address
          });
            marker.addListener('click', function(){
              infoWindow.open(map, marker);
          });
        }
// Add infoWindow function
        // function addinfoWindow(address){
        //   // var marker = new google.maps.Marker({
        //   //   position:coords,
        //   //   map:map
        //   // });
        //   var infoWindow = new google.maps.InfoWindow({
        //     content:'howdy'
        //   });
        //     marker.addListener('click', function(){
        //       infoWindow.open(map, marker);
        //   });
        // }

//completed this function above^...trying to imitate function structure and pass address into infowindow


    }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDboS0d_sYpMgl4MQJFw7N1Mghmi6XPU8Y&callback=initMap"
   async defer></script>
