<div id="contactUs">
<h1> My Favorites </h1>
<% @favorites.each do |favorite| %>

  <h3><%= favorite.apartment.address %> <button id='deletebutton'><%= link_to 'Delete', favorite, method: :delete, data: { confirm: 'Are you sure?' } %></button></h3>

  <h3><%= favorite.apartment.latitude %></h3>
  <h3><%= favorite.apartment.longitude %></h3>



<% end %>
</br>
</br>

<button onclick='myFunction()'>Try it</button>
<script>
function myFunction() {
  // for (let i = 0; i < gon.cray.length; i++){
  //   alert(`${gon.cray[i]}, lng: -71.5`);
  // }
  alert(gon.coords[0][0])
  // alert(gon.cray.forEach((latvalue) =>{
  // latvalue);
  // })
}

</script>
<h1>My Google Map</h1>

  <style>
    #map{
      height:400px;
      width:100%;
    }
  </style>
  <div id="map"></div>
  <script>
    function initMap(){
      //Map options
      var options = {
        zoom:8,
        center:{lat:42.3601,lng:-71.0589}

      }

// var favLat
// console.log(gon.apt.title)
      //New map
      var map = new
      google.maps.Map(document.getElementById('map'), options);
    // Add marker
    // var marker = new google.maps.Marker({
    //    for (let i = 0; i < gon.cray.length; i++){
    //         position:{lat: ${gon.cray[i]},lng: -71.5},
    //         map:map
    //   }
    // });


// alert(`${gon.cray[i]}, lng: -71.5`);

// (`${gon.cray[i]}, lng: -71.5`)
    // var marker = new google.maps.Marker({
    //   position:{lat: 42.36 ,lng: -71.5},
    //   map:map
    // });

    // function myFunction() {
    //   for (let i = 0; i < gon.array.length; i++){
    //     alert(gon.array[i].id );
    //   }
    // }

// gon.cray.forEach((latvalue) =>{
// latvalue;
// })

// gon.cray.forEach((latvalue)=>{
// addMarker({lat:latvalue,lng:-70.9300});
// })

gon.coords.forEach((coordlat, coordlong)=>{
// // gon.long.forEach((longvalue)=>{
//
// // })
addMarker({lat:`${coordlat}`,lng:`${coordlong}`);
// // })
})
      // addMarker({lat:42.8584,lng:-70.9300});
// (`${gon.cray[i]}, lng: -71.5`)

// console.log('asdfgertret')
    // Add Marker function
    function addMarker(coords){
      var marker = new google.maps.Marker({
        position:coords,
        map:map
      });
    }
    }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDboS0d_sYpMgl4MQJFw7N1Mghmi6XPU8Y&callback=initMap"
   async defer></script>
