<div id = 'aboutdetails'>
</br>
  <div id="fav-menu-outer">
   <div class="favtable">
     <ul id="horiz-list" style="list-style-type:none;">
       <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
       <li><a href="/favorites"><i class="far fa-star"></i> Favorites</a></li>
       <li><a href="/contacts/new"><i class="far fa-envelope"></i> Contact Us</a></li>
     </ul>
   </div>
  </div>
 <div id= 'aboutdetailsText'>
 </br>
<p>At Connaughton & Associates, we are committed to providing our clients the most luxurious apartments & condos in Boston. We have a variety of high-end properties in some of Boston's finest neighborhoods -- including many chic & modern properties in the Seaport, numerous historic homes in Beacon Hill, and a variety of other listings. </p>
</br>
<p>Thank you for visiting our website, and please feel free to contact our team with any questions or concerns you may have.  </p>
</br>
  <div id= 'signature'><p>Sincerely,</p>
<p>Connaughton & Associates</p>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

</div>
</br>
</br>
</br>
</br>
</div>
