<div id = 'aboutdetails'>
  <div id= 'aboutdetailsText'>

</br>
</br>
</br>
</br>
<h3>At Connaughton & Associates, we are committed to providing our clients the most luxurious apartments & condos in Boston. We have a variety of high-end properties in some of Boston's finest neighborhoods -- including many chic & modern properties in the Seaport, numerous historic homes in Beacon Hill, and a variety of other listings. </h3>
</br>
<h3>Thank you for visiting our website, and please feel free to contact our team with any questions or concerns you may have.  </h3>
</br>
  <div id= 'signature'><h3>Sincerely,</h3>
<h3>Connaughton & Associates</h3>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

</div>
</br>
</br>
</br>
</br>
</div>
