
<h3>'At Connaughton & Associates, we are committed to providing our clients with the very best real estate opportunities in the Greater Boston Area.' </h3>
<%= link_to"PDF", "RentalApplication.pdf", :target => "_blank"%>
