<br/>
<br/>
<div id = 'editPhotoForm'>
<h1>Edit Photo Details</h1>

<h3><button id='deletebutton'><%= link_to 'Delete', [@apartment, @photo], method: :delete, data: { confirm: 'Are you sure?' } %></button></h3>
<%= render 'photo_form' %>
</div>
