<br/>
<br/>
<div id = 'newPhotoForm'>
  <br/>
  <div id="fav-menu-outer">
   <div class="favtable">
     <ul id="horiz-list" style="list-style-type:none;">
       <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
       <li><a href="/about_details"><i class="fas fa-users"></i> About</a></li>
       <li><a href="/favorites"><i class="far fa-star"></i> Favorites</a></li>
     </ul>
   </div>
  </div>
<h1>Enter New Photo Details</h1>
<%= render 'photo_form' %>
</div>
