/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 .top-bar {
   height: 210px;
   background: image-url('blacklogo.jpg') no-repeat;
   background-size: 350px 350px;
   background-position: center;
   background-color: black;
 }

 section .top-bar-section {
   background-color: black;
 }

 body {
  background: image-url("background.jpg");
  background-size: 1460px 1220px;
  font-family:Courier;
  color: black;
}
li {
  font-family:Courier;
  color: black;
}


.table{
  text-align: center;
}
.table li a {
  visibility: hidden;
  text-align: center;
}

@media only screen and (min-width:1150px) {
  .table li a {
    visibility: visible;
    text-align: center;
  }
}

@media only screen and (min-width:1150px) {
    .favtable li a  {
      visibility: hidden;
      text-align: center;
    }
}

#fav-menu-outer li a {
  float: center;
  color: black;
  font-size:16px;
  font-weight: bold;
  size: 15px;
  background-position: left;
}
#fav-menu-outer li a {
  margin-left: 90px;
  background-position: center;
}

@media only screen and (max-width: 1150px) {
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  .bm-burger-bars {
    background: white;
  }
}

#aboutdetails {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;

  font-weight: bold;
  text-align: left;

  margin: 5em 20em;
  padding: 1em;
  background-position: center;
}
@media only screen and (max-width:1000px) {
    #aboutdetails {

      margin: 3em 1em;
      padding: .5em;

    }
}

#favstext{
  font-size: 15px;
  width: 100%;
}
#favstext :hover {
  text-decoration: underline;
}

#aboutdetailsText {
  background: image-url('about.jpg') no-repeat;
  background-size: 450px;
  background-position: center;
  background-position: bottom;
  padding-bottom: 40em;
  padding: 0em 4em;
  margin-bottom: 0em;
  text-indent: 3.5em;

}

#standardbutton {
  background: black;
  border-radius: 5px;
}

#standardbutton:hover,button:hover{
  background:#778899;
  color: white;
}
#standardphotobutton {
  background: black;
  border-radius: 5px;
}

#standardphotobutton:hover,button:hover{
  background:#778899;
  color: white;
}

@media only screen and (max-width:550px) {
    a#editYourApartment{
      padding: 0em;
      margin: 0em;
    }
}

@media only screen and (max-width:410px) {
    #standardphotobutton  {
      height: 3em;
      width: 5em;
      padding: 0em;
    }
  }

a#editYourApartment:hover{
  color:white;
}
a#addNewApt:hover{
  color:white;
}
a#addNewPhoto:hover{
  color:white;
}


#editbutton {
  background: #008BBF;
}

#deletebutton {
  background: red;
  color: white;
  border-radius: 7px;
}
#favsdeletebutton {
  background: red;
  color: white;
  border-radius: 45px;
  size: 10px 10px;
  background-position: right;
  display: inline;
  text-decoration:inherit;
padding: .65em;
}

 a :hover{
  text-decoration: none;
}


#favorites #favsdeletebutton a {
  color: white;
  background-position: left;
  size: 10px 10px;
  float: center;
  margin-left:auto;
  margin-right:0;
}

a {
  color: white;
}
#logInButton {
  background: white;
}

#photobutton {
  background: green;
  border-radius: 5px;
  margin: 0em;
}

#photobutton:hover,button:hover{
  background: #32CD32;
}

#signature {
  text-indent: 0em;
}

#apartmentIndex {
  border: 5.5px solid black;
  background: rgba(241,241,241,0.8);
  padding: 20px;
  width: auto;
  height: auto;
  columns: 3;
  margin: 3em 15em 5em 15em;
  text-align: left;
  font-family:Courier;
}

@media only screen and (max-width:900px) {
    #apartmentIndex  {
      columns: 1;
      margin: 3em 1em;
    }
}
#apartmentIndex a {
color: red;
}

#apartmentIndexText {
  color: black;
  font-weight: bold;
  font-family:Courier;
}

#apartmentInformation {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;
  text-align: left;
  color: black;
  margin: 3em 17em;
  padding: 2em;
  background-position: center;
}
@media only screen and (max-width:975px) {
    #apartmentInformation  {
      margin: 3em 1em;
    }
}

#photoarray {
  column-count: 1;
  column-gap: 7.5em;
  margin: 25px;
  width: 90%;
  float: center;
  background-position: auto;
  margin-left: 80px;
  list-style-type: none;
  padding-bottom:none;
}

@media only screen and (max-width:1200px) {
    #photoarray  {
      margin-left: 50px;
    }
}

#apartmentPhotoDisplay {
  background: rgba(241,241,241,0.8);
  text-align: center;
  background-position: top;
  border: 5.5px solid black;
  list-style-type: none;
  margin: 1em 5em 1em 1em;
  padding: 2em 2em;
}

@media only screen and (max-width:450px) {
    #apartmentPhotoDisplay  {
      margin: 0em 5em 0em 0em;
      padding: 1em;
    }
}

#favId{
  background-color: black;
  border-radius: 5px;
}
#favId:hover,button:hover{
  background:#778899
}


#apartmentPhotoDisplayText {
  font-size: 20px;
}
@media only screen and (max-width:450px) {
    #apartmentPhotoDisplayText  {
      font-size: 13px;
    }
}
#alreadyfav {
  background-color: #A9A9A9;
  border-radius: 5px;
}
#selectedfav {
  background-color:#000080;
  border-radius: 5px;
}

ul .photolist {
     list-style-type: none;
    font-size: 42px;
    font-family:Courier;
}


@media only screen and (min-width: 800px){
  bar-section ul {
    display: inline;
    height: auto !important;
    width: auto;
  }
}

@media only screen and (max-width: 600px){
  .top-bar-section ul li {
    display: block;
    text-align: left;
    background-position: left;
    float: left;
  }
}

@media only screen and (min-width: 1070px){
  .top-bar-section {
    display: block;
    text-align: right;
    background-position: right;
    right: 50px;
    float: right;
  }
}
@media only screen and (max-width: 600px){
  .top-bar-section {
    left: auto;
    top: 120px;
    float: left;
  }
}


.top-bar-section ul li a {
  color: white;
}

.top-bar-section ul li {
  color: red;
  bottom: 150px;
}

.top-bar-section li:not(.has-form) a:not(.button){
background: black;
}

@media only screen and (min-width: 600px){
  .top-bar-section ul {
      display: inline;
      height: auto !important;
      width: auto;
  }
}

@media only screen and (max-width: 600px){
  ul.top-ul-section {
      padding: 40px 0px 0px 0px;
  }
}


h1{
    font-family:Courier;
    color:black;
}
h2{
    font-family:Courier;
    color:black;
}
h3{
    font-family:Courier;
    color:black;
}

@media only screen and (max-width:430px) {
    h6 {
      font-size: 9px;
    }
}


#apartmentInformationText li {
  color: black;
}



#menu-outer li {
  float: left;
  margin-left: 50px;
  background-position: center;
}

#menu-outer li a {
  background-position: center;
  padding: 0px 15px 0px 15px;
  margin-left: 90px;
}

.name {
  background-color: black;
  color: green;
}


#editForm {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;
  font-weight: bold;
  text-align: left;
  color: black;
  margin: 3em 22em 5em 22em;
  padding: 0em 2em 2em 2em;
  background-position: center;
}

#editPhotoForm {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;
  font-weight: bold;
  text-align: left;
  color: black;
  margin: 5em 22em;
  padding: 0em 2em 2em 2em;
  background-position: center;
}

#newPhotoForm {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;
  font-weight: bold;
  text-align: left;
  color: black;
  margin: 5em 20em;
  padding: 0em 2em 2em 2em;
  background-position: center;
}

#newApartmentForm {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;
  font-weight: bold;
  text-align: left;
  color: black;
  margin: 3em 22em 5em 22em;
  padding: 0em 2em 2em 2em;
  background-position: center;
}

@media only screen and (max-width:1000px) {
    #newApartmentForm {
      margin: 3em .7em;
      padding: 1em;
    }
}
@media only screen and (max-width:1000px) {
    #editForm {
      margin: 3em .7em;
      padding: 1em;
    }
}
@media only screen and (max-width:1000px) {
    #editPhotoForm {
      margin: 3em .7em;
      padding: 1em;
    }
}
@media only screen and (max-width:1000px) {
    #newPhotoForm {
      margin: 3em .7em;
      padding: 1em;
    }
}

.flash {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;
  font-size: 50px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 1em 5em;
}

.flash.flash-notice{
  font-family: Helvetica;
}

@media only screen and (max-width:800px) {
    .flash.flash-notice {
      margin: 0.5em 0em;
    }
}

.flash.flash-alert{
  font-family: Helvetica;
}

@media only screen and (max-width:800px) {
    .flash.flash-alert {
      margin: 0.5em 0em;
    }
}


#new-contact.label {
  font-size: 20px;
}


#logIn {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;
  font-weight: bold;
  text-align: left;
  color: black;
  margin: 5em 20em;
  padding: 0em 2em 2em 2em;
  background-position: center;
}

@media only screen and (max-width:900px) {
    #logIn {
      margin: 5em .33em;
    }
}

#contactUs {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;
  font-weight: bold;
  text-align: left;
  color: black;
  margin: 5em 22em;
  padding: 0em 2em 2em 2em;
  background-position: center;
}

@media only screen and (max-width:1000px) {
    #contactUs {
      margin: 3em .7em;
      padding: 1em;
    }
}

#apartmentIndexhover :hover {
  text-decoration: underline;
}

#favorites {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;
  text-align: left;
  color: black;
  margin: 5em 15em;
  padding: 2em;
  background-position: center;
}

@media only screen and (max-width:1000px) {
    #favorites {
      margin: 5em 0.33em;
    }
}

#favorites a {
  color: black;
}

@media only screen and (max-width:1000px) {
    #favorites {
      margin: 5em 0.33em;
    }
}

#mapdiv {
  padding: 0em;
}

map {
  padding: 0em;
}

.hidden {
  display: none;
}

#signUp {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;
  font-weight: bold;
  text-align: left;
  color: black;
  margin: 5em 20em;
  padding: 0em 2em 2em 2em;
  background-position: center;
}

@media only screen and (max-width:900px) {
    #signUp {
      margin: 5em 0.33em;
    }
}

#adminbutton {
  text-align: center;
  padding-top: 70px;
}

#photosTitle {
  background: rgba(241,241,241,0.8);
  text-align: center;
  margin: 3em 20em;
}

@media only screen and (max-width:800px) {
    #photosTitle {
      margin: 3em 1em;
    }
}

#welcomeTitle {
  text-align: center;
  margin: 0em;
  font-family:Courier;
}

#welcomeTitleText {
  color: black;
  font-size: 20px;
  margin: 0em;
  font-family:Courier;
}

#photosTitleText {
  color: black;
  font-size: 20px;
  border: 5.5px solid black;
  padding: 1em;
}

#navtext {
  color: black;
  margin: 0;
}

#forgotPassword {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 1em;
  padding: 1em;
}
.textarea {
  height: 200px;
  border-radius: 15px;
}
#button {
  background: rgba(241,241,241,0.0);
  border: 3px solid black;
  color: white;
  border-radius: 15px;
  padding: 1.5em;
}

#sendmsg{
  border-radius: 7px;
}

#sendmsg:hover,button:hover{
  background:#778899;
}

.button {
  background: black;
  border-radius: 15px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  padding: 4.5em 1.5em 0;
  font-size: 1.15em;
  height: 20px;
  background: white;
  border: 5.5px solid black;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: black;
  padding: 0.8em;
}

@media only screen and (max-height:425px) {
  .bm-item-list {
    padding: 0em;
  }

  .bm-menu {
     padding: 0em 1.5em;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);

}

farfa-star{
  height:24px;
  width: 24px;
  color: yellow;
}

fasfa-times{
  height:24px;
  width: 24px;
  color: yellow;
}

#starId{
  height: 0em;
  width: 0em;
  padding: 0em;
  margin: 0em;
}

#deleteFromFavorites{
  height: 0em;
  width: 0em;
  padding: 0em;
  margin: 0em;
}

.menu-item {
  color: black;
}

.form_label_styling {
color: black;
font-size: 23px;
}

#field_styling {
  border-radius: 10px;
}

.field{
  border-radius: 10px;
}

input#user_email{
  border-radius: 10px;
}

input#user_password{
  border-radius: 10px;
}

input#user_password_confirmation{
  border-radius: 10px;
}

input#photo_photo_description {
  border-radius: 10px;
}

input#apartment_title {
  border-radius: 10px;
}

input#apartment_description {
  border-radius: 10px;
}

input#apartment_price {
  border-radius: 10px;
}

input#apartment_address {
  border-radius: 10px;
}

input#apartment_bedrooms {
  border-radius: 10px;
}

input#apartment_bedrooms {
  border-radius: 10px;
}

input#apartment_bathrooms {
  border-radius: 10px;
}

input#apartment_sq_ft {
  border-radius: 10px;
}

input#apartment_pets {
  border-radius: 10px;
}

input#apartment_date_available {
  border-radius: 10px;
}
