/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 .top-bar {
   height: 210px;
   background: image-url('blacklogo.jpg') no-repeat;
   background-size: 350px 350px;
   background-position: center;
   background-color: black;
 }

 // #nav{
 //  padding-bottom: 115px;
 // }
 // #title-area {
 //  background-color: red;
 //    padding-bottom: 15px;
 // }
 section .top-bar-section {
   background-color: black;
 }

 body {
  // background: image-url("background.jpg");
    background: image-url("background.jpg");
  background-size: 1460px 1220px;
  font-family:Courier;
  color: black;
}
li {
font-family:Courier;
color: black;
}


//  ul .menu-outer {
//   text-align: center;
// }
.table{
  text-align: center;
}
.table li a {
  visibility: hidden;
  text-align: center;
}

// #title-area{
//   padding-bottom: 115px;
// }
@media only screen and (min-width:1150px) {
  .table li a {
    visibility: visible;
    text-align: center;
  // color: red;
  }
  // .table  {
  // color: red;
  // }
}

@media only screen and (min-width:1150px) {
    .favtable li a  {
      visibility: hidden;
      text-align: center;
    // float: left;
    //   color: blue;
    //   list-style-type: square;
    // padding: 15px 15px 15px 15px;
    }
}
#fav-menu-outer li a {
  float: center;
  color: black;
  font-size:16px;
  font-weight: bold;
  size: 15px;
  background-position: left;
  // background-color: black;
// margin-left: 50px;

// padding: 0px 15px 0px 15px;
// background-position: center;
}
#fav-menu-outer li a {
  // float: left;
  margin-left: 90px;
  // list-style-type: none;
  background-position: center;
  // padding: 0px 15px 0px 15px;
}

.favtable{
  // text-align: center;
  // float: left;
  // padding: 15px 15px 15px 15px;
}
@media only screen and (max-width: 1150px) {
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  .bm-burger-bars {
    background: white;
  }
}
//  .right {
//   background-position: top;
// }


#aboutdetails {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;

  font-weight: bold;
  text-align: left;

  margin: 5em 20em;
  padding: 1em;
  background-position: center;
}
@media only screen and (max-width:1000px) {
    #aboutdetails {

      margin: 3em 1em;
      padding: .5em;

    }
}

#favstext{
  font-size: 15px;
  // columns: 2;
  width: 100%;
}
#favstext :hover {
  // background-color: #589B9A;
  // background-color: #777777;
  // background-color: yellow;
  // width: 60%;
  text-decoration: underline;
}

#aboutdetailsText {
  background: image-url('about.jpg') no-repeat;
  background-size: 450px;
  background-position: center;
  background-position: bottom;
  padding-bottom: 40em;
  padding: 0em 4em;
  margin-bottom: 0em;
  text-indent: 3.5em;

  // font-family: Quicksand;


}

#standardbutton {
  background: black;
}

#editbutton {
  background: #008BBF;
}

#deletebutton {
  background: red;
  color: white;
}
#favsdeletebutton {
  background: red;
  color: white;
  border-radius: 45px;
  size: 10px 10px;
  background-position: right;
  // float: center;
  display: inline;
  text-decoration:inherit;
padding: .65em;
}


// #favsdeletebutton {
//   background: red;
//   color: white;
// }

 #favorites #favsdeletebutton a {
  color: white;
  background-position: left;
    size: 10px 10px;
      float: center;
  // float: right;
// text-align: right;
margin-left:auto;
margin-right:0;

}

a {
  color: white;
  // font-family:Courier
}
#logInButton {
  background: white;
}

#photobutton {
  background: green;
  border-radius: 5px;
  margin: 0em;
}

#signature {
  text-indent: 0em;
}

#apartmentIndex {
  border: 5.5px solid black;
  background: rgba(241,241,241,0.8);
  padding: 20px;
  // margin-top: 15px;
  width: auto;
  height: auto;
  columns: 3;
  margin: 3em 10em;
  text-align: left;
  font-family:Courier;

}
@media only screen and (max-width:800px) {
    #apartmentIndex  {
      columns: 1;
      margin: 3em 1em;
      padding: 20px;
    }
}

#apartmentIndexText {
  color: black;
  font-weight: bold;
  font-family:Courier;
}

// #apartmentIndexText h3 li {
//   color: black;
// }

#apartmentInformation {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;
  text-align: left;
  color: black;
  margin: 3em 20em;
  padding: 2em;
  background-position: center;
}
@media only screen and (max-width:800px) {
    #apartmentInformation  {

      margin: 3em 1em;
      // padding: 20px;
    }
}

#photoarray {
  column-count: 1;
  column-gap: 7.5em;
  margin: 25px;
  width: 90%;
  float: center;
  background-position: auto;
  margin-left: 80px;
  list-style-type: none;
}

#apartmentPhotoDisplay {
  // background: rgba(241,241,241,0.8);
  // text-align: center;
  // background-position: top;
  // padding-top: 1.5em;
  // border: 5.5px solid black;
  // padding-bottom: 10px;
  // margin-top: 15px;
  // list-style-type: none;



  // background: rgba(241,241,241,0.8);
  // border: 5.5px solid black;
  //
  // font-weight: bold;
  // text-align: left;
  // color: black;
  //
  // margin: 3em 17em;
  // padding: 2em;
  // background-position: center;

  // columns: 2;
  // float: left;
}

#favId{
  background-color: black;
  border-radius: 5px;
}
#favId:hover,button:hover{
  background: #333333;
}
// #favId :hover {
//   background-color: blue;
// }

#apartmentPhotoDisplayText {
  font-size: 30px;
}
#alreadyfav {
  // background-color: #D0D0D2;
  background-color: #A9A9A9;
  border-radius: 5px;
}

ul .photolist {
     list-style-type: none;
    font-size: 42px;
    font-family:Courier;
}


@media only screen and (min-width: 800px){
  bar-section ul {
    display: inline;
    height: auto !important;
    width: auto;
  }
}

@media only screen and (max-width: 600px){
  .top-bar-section ul li {
    // left: 0;
    // position: absolute;
    // top: 170px;
    // display: block;
    // left: 0px;
  // top: 130px;
    display: block;
    text-align: left;
    background-position: left;
    float: left;
  }
}
@media only screen and (min-width: 1070px){
  .top-bar-section ul li {
    // left: 0;
    // position: absolute
    // right: 1570px;


    // padding: 0px;
    // margin: 0px;
    // right: auto;
    // top: 20px;
    // text-align: right;
    // display: inline-block;
  }
}
@media only screen and (min-width: 1070px){
  .top-bar-section {
    // left: 0;
    // position: absolute
    // right: 1570px;
    // padding: 0px;
    // margin: 0px;
    // // right: auto;
    //
    // right: 0px;
    // left: 1000px;

//     display: inline-block;
//     text-align: right;
// background-position: right;

display: block;
text-align: right;
background-position: right;
right: 50px;
float: right;
  }
}
@media only screen and (max-width: 600px){
  .top-bar-section {
    left: auto;
      // position: absolute;
      top: 120px;
      float: left;
  }
  // ul.right{
  //
  // }
}


.top-bar-section ul li a {
  color: white;
  // background: blue;
}

.top-bar-section ul li {
  color: red;
  // background: blue;
  bottom: 150px;
}

.top-bar-section li:not(.has-form) a:not(.button){
background: black;
// top: 150px;
}
// @media only screen and (max-width:310px) {
//   .top-bar-section li:not(.has-form) a:not(.button){
//   background: black;
//   background: bottom;
//   display: block;
//   float: left;
//   }
// }
@media only screen and (min-width: 600px){
  .top-bar-section ul {
      display: inline;
      height: auto !important;
      width: auto;
  }
}

@media only screen and (max-width: 600px){
  ul.top-ul-section {
      // display: inline;
      // height: auto !important;
      // width: auto;
// padding: 40px
      padding: 40px 0px 0px 0px;
  }
}




h1{
    font-family:Courier;
    color:black;
}
h2{
    font-family:Courier;
    color:black;
}
h3{
    font-family:Courier;
    color:black;
}

//  .right {
//   background-color: orange;
// }

#apartmentInformationText {
  // color: black;
  // font-size: 20px;
  // border: 5.5px solid black;
  // padding: 2em;


}

#apartmentInformationText li {
  color: black;
}


#logoImage {

}

#menu-outer li {
  // text-align: center;
  float: left;
margin-left: 50px;
background-position: center;
}

#menu-outer li a {
// display: block;
background-position: center;
padding: 0px 15px 0px 15px;
margin-left: 90px;
}


.name {
  background-color: black;
  color: green;
}


#editForm {
  background: rgba(241,241,241,0.8);
  padding-top: 3.5em;
  margin: 0em, 1em;
  border: 5.5px solid black;
  width: 90%;
  margin-left: 70px;
  background-position: center;
  padding: 15px 40px;
}

#editPhotoForm {
  background: rgba(241,241,241,0.8);
  padding-top: 3.5em;
  border: 5.5px solid black;
  width: 90%;
  margin-left: 70px;
  background-position: center;
  padding: 15px 40px;
}

#newPhotoForm {
  background: rgba(241,241,241,0.8);
  padding-top: 3.5em;
  border: 5.5px solid black;
  width: 95%;
  margin-left: 38px;
  background-position: center;
  padding: 15px 40px;
}

#newApartmentForm {
  background: image-url("background.jpg");
  background-size: 1460px 1220px;
    background: rgba(241,241,241,0.8);
    padding-top: 3.5em;
    border: 5.5px solid black;
    width: 90%;
    margin-left: 70px;
    background-position: center;
    padding: 15px 40px;
}

.flash {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;
  font-size: 50px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 1em 5em;
  // margin: 3em 10em;
}
.flash.flash-notice{
  font-family: Helvetica;
}
@media only screen and (max-width:800px) {
    .flash.flash-notice {
      // margin: 1em 1em;
      margin: 0.5em 0em;
      // padding: .5em;

    }
}

// @media only screen and (max-width:800px) {
//     .flash.flash-notice {
//       margin: 1em 1em;
//       // padding: .5em;
//
//     }
// }


#new-contact.label {
font-size: 20px;
}


#logIn {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;
  // color: black;
  font-weight: bold;
  text-align: left;
  color: black;
  margin: 5em 20em;
  padding: 0em 2em 2em 2em;
  background-position: center;
}
@media only screen and (max-width:900px) {
    #logIn {

      margin: 5em .33em;
      // padding: 20px;
    }
}
#contactUs {
    background: rgba(241,241,241,0.8);
    border: 5.5px solid black;
    // color: black;
    font-weight: bold;
    text-align: left;
    color: black;
    margin: 5em 19em;
    padding: 0em 2em 2em 2em;
    background-position: center;

    // display: inline;
    // margin: 5em 50em 160em 5em;
}

@media only screen and (max-width:1000px) {
    #contactUs {

      margin: 3em .7em;
      padding: 1em;
      // padding: 20px;
    }
}

#apartmentIndexhover :hover {
  // background-color: #777777;
    // background-color: #589B9A;
  // background-color: yellow;
  text-decoration: underline;
}
//   #favsdeletebutton  :hover{
// // #favsdeletebutton :hover {
//   background-color: #FF0000;
// }

#favorites {
      background: rgba(241,241,241,0.8);
      border: 5.5px solid black;
      text-align: left;
      color: black;
      // margin: 5em 5em;
      margin: 5em 16em;
      padding: 2em;
      background-position: center;
}
@media only screen and (max-width:1000px) {
    #favorites {
      margin: 5em 0.33em;
      // padding: .5em;

    }
}

#favorites a {
  color: black;
}

#mapdiv {
  padding: 0em;
  // float: right;
  // text-align: right;
  // margin-right: 0;
  // margin-left: auto;height: 100px;
  // width: 250px;
}
map {
padding: 0em;
// text-align: right;
// margin-right: 0;
// margin-left: auto;height: 100px;
// width: 250px;
}
.hidden {
  display: none;
}

#signUp {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;
  // color: black;
  font-weight: bold;
  text-align: left;
  color: black;
  margin: 5em 20em;
  padding: 0em 2em 2em 2em;
  // padding: 2em;
  background-position: center;
}
@media only screen and (max-width:900px) {
    #signUp {

      margin: 5em 0.33em;
      // padding: 20px;
    }
}


#photosTitle {
  background: rgba(241,241,241,0.8);
  text-align: center;
  // width: 50%;
  // margin-left: 80px;
  margin: 3em 20em;
}
@media only screen and (max-width:800px) {
    #photosTitle {

      margin: 3em 1em;
      // padding: 20px;
    }
}
#welcomeTitle {
  // background: rgba(241,241,241,0.8);
  text-align: center;
  // width: 100%;
  margin: 0em;
  // margin-left: 50px;
  // margin-right: 50px;
  font-family:Courier;
}
#welcomeTitleText {
  color: black;
  font-size: 20px;
  margin: 0em;
  // border: 5.5px solid black;
  // border: 5.5px solid white;
  font-family:Courier;
}

#photosTitleText {
  color: black;
  font-size: 20px;
  border: 5.5px solid black;
  padding: 1em;
}
//  #photosTitleText h1 {
//   color: #170085;
//   // font-weight: bold;
// }

#navtext {
  color: black;
  margin: 0;
}

#forgotPassword {
  background: rgba(241,241,241,0.8);
  border: 5.5px solid black;
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 1em;
  padding: 1em;
}
.textarea {
  height: 200px;
  border-radius: 15px;
}
#button {
    background: rgba(241,241,241,0.0);
  // background: black;
  border: 3px solid black;
  color: white;
  border-radius: 15px;
  padding: 1.5em;

}
#sendmsg{
  border-radius: 7px;
}

.button {
  // background: rgba(241,241,241,0.8);
  // background: #009CFF;
    background: black;
  border-radius: 15px;
  // color: white;
  // padding: .9em;

}
// #actions {
// cursor: pointer;
// }
// #submit{
//   border-radius: 15px;
// }

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  // visibility: hidden;
}
//
// /* Color/shape of burger icon bars */
.bm-burger-bars {
  // background: white;
  // visibility: hidden;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  // max-width: 650px;
  // color: white
}


/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  // background: white;
}

/* General sidebar styles */
.bm-menu {

  // padding: 2.5em 1.5em 0;
  padding: 4.5em 1.5em 0;
  font-size: 1.15em;
  height: 20px;
  background: white;
  border: 5.5px solid black;

// top: 20px;

  // padding: 0em 1.5em 0;
}
// .bm-menu-wrap{
//   padding: 0em;
// }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {

  color: black;
  padding: 0.8em;

  // padding: 0em, 0.8, 0.8, 0.8em;
}

@media only screen and (max-width:425px) {
  .bm-item-list {
    // padding: 0em, 0.8em, 0em, 0em;
    padding: 0em;
  }
  .bm-menu {
     padding: 0em 1.5em;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);


}
farfa-star{
  height:24px;
  width: 24px;
  color: yellow;
}
fasfa-times{
  height:24px;
  width: 24px;
  color: yellow;
}

#starId{
  // background: red;
  height: 0em;
  width: 0em;
  padding: 0em;
  margin: 0em;
}
#deleteFromFavorites{
  height: 0em;
  width: 0em;
  padding: 0em;
  margin: 0em;
}

.menu-item {
  color: black;
}
.form_label_styling {
color: black;
font-size: 23px;
}

.title-area{
  // background-color: red;
  // padding-bottom: 15px;
}

#field_styling {
border-radius: 10px;
}
.field{
border-radius: 10px;
}
input#user_email{
border-radius: 10px;
}
input#user_password{
border-radius: 10px;
}
input#user_password_confirmation{
border-radius: 10px;
}
