/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body {
  background: image-url("background.jpg") no-repeat;
  // background-size: 960px 720px;
  background-size: 1460px 1220px;
  // border: 3px solid #5C1912;
  // width: 500px;
  // margin: auto;
  // font-weight: bold;
  // padding-bottom: 5000px;
  // color: black
  // background-position: center center, center top;
  // background: url("blacklogo.jpg") no-repeat;
  // background-size: 250px 200px;
  // background-position: center;
}
// header {
//  background: image-url("blacklogo.jpg")
//
// }

#apartmentIndex{
  // background-color: #F1F1F1;
  border: 5.5px solid black;
  // opacity: 0.5;
  background: rgba(241,241,241,0.5);
  // padding-top: 40px;
  padding-bottom: 10px;
  margin-top: 15px;
  width: auto;
  height: auto;
  // margin-left: auto;
  // margin-right: auto;
  columns: 3;
  margin: 3em;
  text-align: center;
}

#apartmentIndexText{
  color: black;
  font-weight: bold;
}

#apartmentInformation{
  background: rgba(241,241,241,0.7);
  text-align: bottom;
  background-position: top;
  // padding-top: 7.5em;
  
}

#apartmentPhotos{
  background: rgba(241,241,241,0.7);
  text-align: bottom;
  background-position: top;
  // padding-top: 7.5em;
  border: 5.5px solid black;
  padding-bottom: 10px;
  margin-top: 15px;

}

#apartmentInformationText{
  color: black;
  font-size: 20px;
  border: 5.5px solid black;
}

#logoImage{
// background: image-url("logo.jpg");
// background-position: center top;
// background-size: 300px;
// background-repeat: no-repeat;
// height: 200px;
// width: 500px;
// margin: auto;
// padding: 10px;
// margin-bottom: 115px;
// background-image: url("logo.jpg") no-repeat;
// background-position: center center, center top;
// background: url("blacklogo.jpg") no-repeat;
// background-size: 250px 200px;
// background-position: center;
}
.top-bar{
  // background-image: url("blacklogo.jpg") no-repeat;
  // background-size: 10px 10px;
  // background-position: center center, center top;
  // background-size: 50px 50px;
  height: 200px;
  // padding-top: 10px;
  // background: image-url("blacklogo.jpg") no-repeat;
  // background-size: 250px 200px;
  // background-position: center;
  background: image-url("blacklogo.jpg") no-repeat;
  background-size: 350px 350px;
  background-position: center;
  background-color: black;
}

.title-area{
  // background: image-url("blacklogo.jpg") no-repeat;
  // background-size: 200px 200px;
  // background-position: center
  background-color: black;
}
.top-bar-section{
  // background: image-url("blacklogo.jpg") no-repeat;
  // background-size: 250px 200px;
  // background-position: center;
// height: 150px;
background-color: black;

}

#editForm{
  background: rgba(241,241,241,0.7);
  // text-align: bottom;
  // background-position: top;
  padding-top: 3.5em;
  border: 5.5px solid black;
  // padding-bottom: 30em;
}
#editPhotoForm{
  background: rgba(241,241,241,0.7);
  // text-align: bottom;
  // background-position: top;
  padding-top: 3.5em;
  border: 5.5px solid black;
  // padding-bottom: 30em;
}
#newPhotoForm{
  background: rgba(241,241,241,0.7);
  padding-top: 3.5em;
  border: 5.5px solid black;
}

.flash{
  background: rgba(241,241,241,0.7);
  // text-align: bottom;
  // background-position: top;
  // padding-top: 3.5em;
  border: 5.5px solid black;
  font-size: 50px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 1em;
}

#logIn{
  background: rgba(241,241,241,0.7);
  // text-align: bottom;
  // background-position: top;
  // padding-top: 3.5em;
  border: 5.5px solid black;
  // font-size: 50px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 1em;
}

#signUp{
  background: rgba(241,241,241,0.7);
  // text-align: bottom;
  // background-position: top;
  // padding-top: 3.5em;
  border: 5.5px solid black;
  // font-size: 50px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 1em;
}

#photosTitle{
  background: rgba(241,241,241,0.7);
  text-align: bottom;
  background-position: top;
}

#photosTitleText{
  color: black;
  font-size: 20px;
  border: 5.5px solid black;
}
