<h1> Howdy </h1>
<% @apartments.each do |apartment| %>
<h3><%= link_to apartment.title, apartment_path(apartment) %><%= "#{apartment.price}/month" %></h3>

<% end %>

<h3><%= link_to 'Add New Apartment Listing', new_apartment_path %></h3>
<div id = 'app'>test12345</div>
